.background {
  position: fixed;
  cursor: default;
  opacity: 0.55;
  text-shadow: 0 0 1rem #d1d1d13a;
  user-select: none;
  z-index: 1;
}

#background-top-right {
  right: 0;
  top: -2rem;
  color: var(--grey);
  z-index: 1;
  font-size: 6rem;
}

#background-top-left {
  left: 0;
  top: 6rem;
  border: 1px solid var(--grey);
  z-index: 1;
  width: 30%;
}

#background-bottom-left {
  left: 1rem;
  bottom: -1rem;
  color: var(--grey);
  z-index: 1;
  font-size: 6rem;
}
