#about-background-top-right {
  z-index: 3;
  position: fixed;
  right: 0;
  top: -2rem;
  color: var(--grey);
  font-size: 6rem;
}

#about-background-top-left {
  border: 1px solid var(--grey);
  width: 30%;
  position: fixed;
  top: 7rem;
  left: 0;
}

#about-background-bottom-left {
  position: fixed;
  left: 1rem;
  bottom: -1rem;
  color: var(--grey);
  font-size: 6rem;
}
